h2 {color:rgb(254, 80, 2); 
    text-decoration: underline;}

p {font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 16px; 
    color: white;}

header {background-color: green;
        color: white;
        text-align: center;
        padding: 1em;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;     
        font-size: 30px;        
    }

nav {display: flex;
        justify-content: space-around;
        background-color: white;
        padding: 0.5;
    }

nav a {color: black;
        text-decoration: underline;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 14px;
    }

li {font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 16px; 
    color: white;
}
